<!DOCTYPE html>
<html>
  <head>
    <title>CryptoCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="flex justify-center py-5 bg-blue-500">
      <nav class="text-white text-xl">
        <a href="/" >
          Crypto Calculator
        </a>
      </nav>
    </header>

    <main class="container mx-auto px-2 h-screen">
      <%= yield %>
    </main>

    <footer class="flex justify-center py-5 bg-blue-500">
      <p class="text-white text-xl">Made by @Erick Saavedra</p>
    </footer>

  </body>
</html>
